.uc-tour-modal-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    pointer-events: none;

    .uc-tour-modal {
        position: absolute;
        padding: 5px;
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        border-radius: 10px;
        transition: all 0.5s ease-in-out;
        pointer-events: auto;

        &.left {
            transform: translate(-110%, -50%);
        }

        &.right {
            transform: translate(10%, -50%);
        }

        &.top {
            transform: translate(-50%, -110%);
        }

        &.bottom {
            transform: translate(-50%, 10%);
        }

        .uc-tour-modal-header {
            width: 100%;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            font-weight: bold;
        }

        .uc-tour-modal-body {
            width: 100%;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
        }

        .uc-tour-modal-footer {
            width: 100%;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            .tour-button {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 100px;
                padding: 10px;
                background: #994e7c;
                color: #fff;
                font-size: 13px;
                font-weight: bold;
                margin: 5px;
                border: none;
                border-radius: 5px;
                outline: none;

                &:hover {
                    background: #017afa;
                }
            }
        }
    }

    .uc-tour-pointer {
        width: 0;
        height: 0;
        position: absolute;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background: rgba(255,255,255,0.1);
        box-shadow: 0 0 0 3000px rgba(0,0,0,0.8);
        transition: all 0.5s ease-in-out;
        pointer-events: none;
    }
}