{{#if tourIsActive}}
    <div class="uc-tour-modal-overlay">
        {{#if step}}
            {{uc-tour-pointer
                    step=step
            }}
        {{/if}}

        {{#if step}}
            {{uc-tour-step
                    classNames=(concat step.classes step.direction)
                    step=step
            }}
        {{/if}}
    </div>
{{/if}}