{{#if step.header}}
    <div class="uc-tour-modal-header">
        {{{step.header}}}
    </div>
{{/if}}

{{#if step.content}}
    <div class="uc-tour-modal-body">
        {{{step.content}}}
    </div>
{{/if}}

{{#if step.buttons.length}}
    <div class="uc-tour-modal-footer">
        {{#each step.buttons as |stepButton|}}
            <button class="tour-button {{stepButton.name}} {{stepButton.classes}} {{unless stepButton.active "disabled"}}"
                {{action "clickTourButton" stepButton}}>
                {{stepButton.label}}
            </button>
        {{/each}}
    </div>
{{/if}}